.DS_Store
node_modules/
/dist
/public

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode

# local env files
.env.local
.env.*.local

/desta-frontend/npm-shrinkwrap.json
/desta-frontend/package.json
